*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
  background-color: rgb(245, 245, 245);
  height: 100vh;

}
   /* HEADER CSS START */
.header{
  background: #444791;
  height: 3.0rem;
  display: flex;
  width: 100vw;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
  color: #fff;
  padding-left: 10px;
}
.search{
  background: rgba(255,255,255,.8);
    border-radius: 0.4rem ;
    color: #fff;
    height: 33px;
    width: 590px;
    margin: auto;
    display: flex;
    overflow: hidden;
}
@media (max-width: 660px) {
  .search{
    margin-right: 10px;
  }
}
.icon-search{
  color: #444791;
  height: 20px;
  width: 20px;
  margin: 7px 8px;
  font-weight: 300;
}
.search-bar{
 background: rgb(225, 225, 225,.8);
  outline: none;
  color: black;
  width:  100%;
  border-radius: 0.4rem ;
}
.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 660px) {
  .logo{
    display: none;
  }
}
.name-logo{
  background: rgb(219, 230, 231);
  height: 30px;
  width: 30px;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.dot{
  margin-right: 4px;
  height: 20px;
  margin-left: 4px;
  width: 20px;
}
.zf{
   font-weight: 500;
   text-align: center;
   font-size: 14px;
   padding-top: 4px;
  color: black;
}
.right-item{
  display: flex;
}
.right{
  background: rgb(151, 182, 151);
  border: 2px solid black;
  height: 15px;
  width: 15px;
  color: #fff;
  position: absolute;
  right: 8px;
  top: 30px;
  overflow: hidden;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
   /* HEADER CSS END */
   /* SIDEBAR-ICONS START */
.side-ico{
  width: 70px;
  height: 100vh;
  border-right: 2px solid  rgb(224, 216, 216);
  margin-top: 45px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between ;
  overflow-y: hidden;
  background-color: #ebebeb;
  padding-bottom: 50px;
  /* display: block; */
}
.nav-icon{
  height: 70px;
  width: 100%;
  margin-right: 50px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 90px;
  margin-top: 45px;
  position: fixed;
  overflow-y: hidden;
  background-color: #ebebeb;
  display: block;
}
.side-box{
  width: 50px;
  margin-top: 4px;
  cursor: pointer;
  margin-left: 5px;
}
@media (min-width: 1400px) {
  .side-box{
    margin-top: 20px;
  }
}
.side-box-b{
  border-left: 2px solid #444791;
  /* margin-left: 2px; */
  cursor: pointer;
}
@media (max-width: 1400px) {
  .side-box-b{
    margin-top: 10px;
  }
}
.side-icons-b{
  color:  #444791;
  height: 25px;
  width: 25px;
  margin-left: 0px;
  margin-top: 1px;
}
.side-text{
  font-size: 11px;
  font-weight: 400;
  color: #616161;
 padding-top: 2px; 
 padding-left: 5px;
}
.side-text-t{
  font-size: 11px;
  font-weight: 400;
  color: #616161;
 padding-top: 2px; 
 padding-left: 7px;
}
.side-text-c{
  font-size: 11px;
  font-weight: 400;
  color: #616161;
 padding-top: 2px; 
 padding-left: 15px;
}
.side-text-m{
  font-size: 11px;
  font-weight: 400;
  color: #616116;
 padding-top: 2px; 
 padding-left: 2px;
}
.side-text-ca{
  font-size: 11px;
  font-weight: 400;
  color: #616161;
 padding-top: 2px; 
 padding-left: 15px;
}
.side-text-f{
  font-size: 11px;
  font-weight: 400;
  color: #616161;
 padding-top: 2px; 
 padding-left: 14px;
}
.side-text-h{
  font-size: 11px;
  font-weight: 400;
  color: #333;
 padding-top: 2px; 
 padding-left: 13px;
}
.side-row{
  display: flex;
}
.side-text-a{
 font-size: 11px;
 font-weight: 400;
 color: #333;
 padding-top: 2px; 
 padding-left: 13px;
}
.side-icons{
  height: 22px;
  width: 22px;
  color: rgb(138, 135, 135);
  margin-left: 13px;
}
.side-icons-b{
  height: 22px;
  width: 22px;
  margin-left: 15px;
}
.side-icons:hover{
  color: #444791;
}
.side-icons-chat{
  height: 25px;
  width: 25px;
  color: rgb(138, 135, 135);
  margin-left: 5px;
}
.side-bottom{
  margin-top: 30px;
}
.side-bottom-b{
  margin-top: 90px;
}
.chat-active{
  display: flex;
}
.chat-remain{
  background-color: red;
  border: 2px solid white;
  color: white;
  height:  22px;
  width: 22px;
 border-radius: 100%;
 font-size: 12px;
 padding-left: 6px;
 font-weight: 700;
 position: absolute;
 left: 30px;
 top: 65px;
}
   /* SIDEBAR-ICONS END */
   /* CHAT CSS START  */
   .chat-side{
     width: 330px;
     /* height: 606px; */
     height: 100vh;
    background-color: rgb(245, 245, 245);
     margin-left: 70px;
     margin-right: 10px;
     margin-top: 50px;
     position: fixed;
     box-shadow: #fcf8f8;
    overflow-y: hidden;
    padding-bottom: 50px;
    border-right: 2px solid #ebe3e3;
   }
   @media (max-width: 800px) {
    .chat-side{
   width: 100vw;
    }
   }
  
   @media (max-width: 800px) {
    .side-ico{
display: none;   
 }
 .chat-side{
  margin-left: 0px;
  }
   }
   /* @media (max-width: 1200px) {
    .chat-side{
    margin-left: 70px;
    }
   } */
   .top-t{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px;
    border-bottom: 1px solid #cccbcb;
   }
   .chat-title{
    font-weight: 700;
    font-size: 18px;
   }
   .two-icons{
    display: flex;
    align-items: center;
   }
   .icon-chat{
    height: 18px;
    width: 18px;
    color: #616161;
   }
   .icon-chat-w{
    height: 16px;
    width: 16px;
    color: #616161;
    margin-left: 20px;
   }
   .pin{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    color: #616161;
    width: 100%;
    cursor: pointer;
    height: 20px;
   }
   .scroll-a{
    overflow-y: auto;
    height: 100%;
    scrollbar-color: rebeccapurple green;
   }
   .pin:hover{
    color: #333;
   }
   .pinned{
    font-size: 13px;
   }
   .rec{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 15px;
    color: #616161;
    width: 100%;
    cursor: pointer;
    height: 20px;
   }
  .name-logos{
    background: rgb(229, 234, 235);
    height: 34px;
    width: 34px;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .zname{
     font-weight: 500;
     text-align: center;
     font-size: 15px;
     padding-top: 5px;
    color: black;
  }
  .right-items{
    display: flex;
  }
  .right-4{
    background: rgb(101, 133, 101);
    border: 2px solid white;
    height: 15px;
    width: 15px;
    color: #fff;
    overflow: hidden;
    left: 0px;
    top: 25px;
    position: sticky;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-right: -0px;
  }

  .right-5{
    background: rgb(245, 235, 235);
    border: 2px solid white;
    height: 15px;
    width: 15px;
    color: rgb(97, 91, 91);
    overflow: hidden;
    left: 0px;
    top: 26px;
    position: sticky;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: 3px;
  }  
  .right-2{
    background: rgb(101, 133, 101);
    border: 2px solid white;
    height: 15px;
    width: 15px;
    color: #fff;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 175px;
    position: sticky;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-right: -14px;
  }
  .admin{
    display: flex;
    align-items: center;
  }
  .zain{
    margin-top: 5px;
    margin-left: 5px;
  }
  .chat-box{
    padding-left: 10px;
    padding-top: 6px;
    height: 50px;
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
  }
  .chat-img{
    display: flex;
  }
  .chat-box:hover{
    background: #fff;
  }
.user-image{
  height: 33px;
  width: 33px;
border-radius: 100%;

}
.user-name{
  padding-left: 14px;
  line-height: normal;
}
.user-name-n{
  padding-left: 0px;
  line-height: normal;
}
.attend{
  font-size: 14px;
  font-weight: 600;
}
.desc-user{
  font-size: 13px;
  font-weight: 400;
}
.time{
  font-size: 13px;
  font-weight: 500;
  padding-right: 15px;
}
      /* CHAT CSS END */
     /* ATTEND PAGE START */
   .per-1{
margin-top: 200px;
    padding-left: 200px;
   }
   .per-2{
margin-top: 200px;
    padding-left: 200px;
   } 
  .main-sec{
    display: flex;
  }
   .attend-p{
    padding-left: 400px;
    margin-right: 50px;
   margin:  50px 20px;
    color: black;
    overflow: auto;
    margin-top: 120px;
 margin-bottom: 90px;
   }
   @media (max-width: 1280px) {
    .attend-p{
    margin-left: 1px;
    margin-top: 60px;
    }
  }
@media (max-width: 800px) {
  .attend-p{
    display: none;
   position: fixed;
    height: 100vh;
    overflow-y: auto;
  }
}
   .date-bar{
    display: flex;
    align-items: center;
    margin-left: 10px;
   }
   @media (max-width: 1280px) {
    .date-bar{
      display: none;
    }
   }
   @media (min-width: 1380px) {
    .date-bar{
      display: none;
    }
   }
   .left-bar{
    width: 400px;
    height: 1px;
    background: gainsboro;
   }
   .left-bar-l{
    width: 400px;
    height: 1px;
    background: #444791;
   }
   .attend-date{
    margin: 10px 10px;
    font-size: 14px;
    color: #616161;
   }
   .attend-date-l{
    margin: 10px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #444791;
   }
   .right-bar-l{
    width: 400px;
    height: 1px;
    background: #444791;
   }
   .right-bar{
    width: 400px;
    height: 1px;
    background: gainsboro;
   }
   .active-p{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background: #FFFFFF;
   }
   .active-p-chat{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background: #FFFFFF;
   }
   .active-m{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background: #E8E8FA;
   }
   .cur{
    cursor: pointer;
   }
   .active-mh{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    background: #E8E8FA;
   }
   .active-u{
    display: flex;
    flex-direction: column;
   }
   .active-user{
 height: 30px;
 width: 30px;
 border-radius: 100%;
 margin-right: 20px;
 margin-top: 7px;
   }
.attend-people{
  display: flex;
  margin-top: 20px;
}
@media (max-width: 1266px){
  .atp{
    margin-top: 65px;
    margin-left: 30px;
  }
}
@media (max-width: 1016px){
  .atp{
    padding-top: 10px;
    margin-left: 23px;
  }
}
@media (max-width: 1100px){
  .attend-people{
    margin-top: 5px;
  }
}
@media (max-width: 800px){
  .attend-people{
    display: none;   
  }
}
.attend-people-p{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
 flex-direction: row-reverse;
}
.name-active{
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 952px) {
  .nav-title-h{
    font-size: 11px;
    font-weight: 700;
  }
}
.time-active{
  font-weight: 400;
  font-size: 13px;
  margin-left: 30px;
}
.navbar{
  margin-top: 30px;
  height: 74px;
  overflow: hidden;
  position: fixed;
  background: rgb(250, 242, 242);
  border-bottom: 1px solid rgb(231, 219, 219);
  margin-left: 400px;
 padding-top: 30px;
 width: 100%;
 display: flex;
 align-items: center;
flex-direction: end;
cursor: pointer;
}
@media (max-width: 1280px){

  .navbar{
    display: none;
  }
}
.nav-logo{
  height: 37px;
  width: 37px;
  border-radius: 100px;
}
.logo-i{
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.navbar-right{
  display: flex;
  align-items: center;
  padding-left: 500px;
}
.navbar-right-p{
  display: flex;
  align-items: center;
  padding-left: 470px;
  margin-top: 10px;
}
.navbar-right-pc{
  display: flex;
  align-items: center;
  padding-left: 515px;
  margin-top: 10px;
}
.navbar-attendants-right{
  display: flex;
  align-items: center;
  /* padding-left: 500px; */
  margin-top: 10px;
}
/* @media (max-width: 990px) {
  .navbar-attendants-right{
    margin-right: 390px;
  }
} */
.navbar-right-ps{
  display: flex;
  align-items: center;
  padding-left: 440px;
  margin-top: 10px;
}
.navbar-right-psam{
  display: flex;
  align-items: center;
  padding-left: 437px;
  margin-top: 10px;
}
.navbar-right-psa{
  display: flex;
  align-items: center;
  padding-left: 507px;
  margin-top: 10px;
}
.nav-title-c{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
}
 .nav-title-ca{ 
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 13px;
} 
.nav-title-ca-l{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
}
.attend-chat-nav{
  padding-left: 10px;
  padding-right: 10px;
}
.c-t-e{
  padding-left: 10px;
  padding-right: 10px;
}
.nav-c{
  margin-top: 1px;
}
.b-nav-c{
  background: #444791;
  height: 9px;
  width: 30px;
  margin-top: 6px;
}
.b-input{
  border: 1px solid rgb(194, 179, 179);
  border-radius: 1px;

}
.bar-bottom{
  background: #444791;
  height: 4px;
  width: 30px;
  margin-top: 6px;
}
.cba{
  background: #444791;
  height: 4px;
  width: 30px;
  margin-top: 6px;
}
.cb{
  background: #444791;
  height: 4px;
  width: 30px;
  margin-top: 10px;
}
.nav-title-ca{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.nav-title{
 font-size: 17px;
 font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-title-f{
  padding-left: 10px;
  padding-right: 10px;
}
.res{
  font-size: 14px;
  font-weight: 4j00;
}
.resp{
  font-size: 13px;
  font-weight: 400;
}
.camera{
  background: white;
  display: flex;
  height: 35px;
 width: 63px;
 border: 1px solid rgb(216, 206, 206);  
 align-items: center;
  padding-left: 4px;
}
.bs{
  height: 23px;
  width: 23px;
  padding: 2px 3px;
}
.bsl{
  border-left: 1px solid rgb(199, 186, 186);
  height: 33px;
  padding-left: 3px;
  margin-left: 3px;
  overflow-y: none;
  padding-top: 4px;
}
.nav-right{
  margin-left: 15px;
  display: flex;
}
.bsp{
  height: 20px;
  width: 20px;
}
.pli{
 height: 12px;
 width: 12px;
 color: white;
}
.plu{
  position: absolute;
  background: #000;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  height: 12px;
  width: 12px;
  border-radius: 100px;
}
.num{
  font-size: 13px;
  margin-left: 8px;
  font-weight: 700;
}
.bottom-nav{
  height: 80px;
  width: 75%;
  font-size: 20px;
  background: white;
  position: fixed;
  bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  overflow: hidden;
}
@media (max-width: 2470px) {
  .bottom-nav{
margin-left: 20px;
 }
}
@media (min-width: 2600px) {
  .bottom-nav{
width: 80%;  }
}
@media (max-width: 1800px) {
  .bottom-nav{
width: 65%;  }
}
@media (max-width: 1300px) {
  .bottom-nav{
width: 60%;  }
}
@media (max-width: 1185px) {
  .bottom-nav{
    width: 60%;
  }
}
@media (max-width: 1042px) {
  .bottom-nav{
    width: 48%;
  }
}
@media (max-width: 800px) {
  .bottom-nav{
    display: none;
  }
}
.input-up{
  width: 100%;
  outline: none;
  height: 40px;
  padding: 2px;
  font-size: 14px;
  padding-right: 6px;
  padding-left: 18px;
  border-bottom: 2px solid #444791;
}
.active-mb{
  display: flex;
  flex-direction: row-reverse;
 }
 .you-a{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background: #E8E8FA;
  margin-bottom: 16px;
 }
 .active-ub{
  display: flex;
  flex-direction: column;
  
 }
 .i-f{
  display: flex;
  align-items: center;
  width: 100%;
  background: rgb(250, 242, 242);
  border: 1px solid rgb(250, 242, 242);
  justify-content: space-between;
 }
     /* ATTEND PAGE END */

     /* CHIT CHAT START */
.chit-chat{
  padding-left: 400px;
  margin-top: 100px;
  color: #000;
}
.logo-icn{
  display: flex;
  align-items: center;
   width: 100vw;
   height: 100px;
}
.navbar-chi{
  top: 48px;
  height: 56px;
  overflow: hidden;
  position: fixed;
  background: rgb(250, 242, 242);
  border-bottom: 1px solid rgb(231, 219, 219);
  margin-left: 10px;
 width: 100%;
 display: flex;
 align-items: center;
flex-direction: end;
cursor: pointer;
}
.navbar-chia{
  top: 48px;
  height: 56px;
  overflow: hidden;
  position: fixed;
  background: rgb(250, 242, 242);
  border-bottom: 1px solid rgb(231, 219, 219);
  margin-left: 400px;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: space-between;
/* flex-direction: end; */
cursor: pointer;
}@media (max-width: 1193px) {
  .navbar-chia{
    margin-left: 390px;
  }
}
@media (max-width: 880px) {
  .navbar-chia{
    display: none;
  }
}
@media (max-width: 1272px) {
  .h-s{
margin-top: 30px;  
margin-left: 30px;}
}
.attend-pic{
    padding-left: 10px;
    margin-right: 50px;
   margin:  50px 20px;
    color: black;
    overflow: auto;
    margin-top: 50px;
 margin-bottom: 90px;
   }
   @media (max-width: 1100px) {
    .attend-pic{

      margin-left: 0px;
    }
   }
   .nav-chat-bar{
    margin-top: 70px;
    margin-left: 390px;
   }
   @media (max-width: 1270px) {
    .nav-chat-bar{
      margin-left: 380px;
      margin-top: 30px;
    }
   }
   @media (max-width: 1160px) {
    .nav-chat-bar{
      margin-left: 340px;
      margin-top: 30px;
    }
   }
   @media (max-width: 1280px) {
    .navbar-chi{
      display: none;
    }
   }
   .item-ti{
    font-size: 14px;
    font-weight: 400;
   }
   .tim{
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
   }
   .name-activeb{
    font-size: 15px;
    font-weight: 600;
   }
   .you-h{
    margin-top: 10px;
   }
   .you-ab{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background: #E8E8FA;
    margin-bottom: 16px;
   }
   .reply{
    font-size: 14px;
   }
     /* CHIT CHAT END */
@media (max-width: 950px) {
  .bottom-ico{
  display: none;
  }
}
.nev{
  flex-direction: end;
}
.space-m{
  margin: auto;
  margin-left: 250px;
}
@media (max-width: 1080px) {
  .space-m{
    margin: auto;
    margin-left: 130px;
  }
}
@media (max-width: 1030px) {
  .space-m{
    margin: auto;
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  .space-m{
    margin: auto;
    margin-left: 60px;
  }
}
@media (max-width: 930px) {
  .space-m{
    margin: auto;
    margin-left: 60px;
  }
}
@media (max-width: 870px) {
  .space-m{
    margin: auto;
    margin-left: 0px;
  }
}
.space-i{
  width: 190px;
  height: 180px;
 margin-left: 110px;
  margin-top: 100px;
}
.attend-p{
  width: 100vw;
}
.home-ct{
  width: 100vw;
}
.rep{
  font-size: 13px;
  font-weight: 400;
}



@media (max-width: 1160px) {
  .b-nav{
    margin-left: 40px;
  }
}
@media (max-width: 1120px) {
  .b-nav{
    margin-left: 60px;
  }
}
@media (min-width: 1520px) {
  .spa{
   margin-top: 100px;
   margin-left: 100px;
  }
}

@media (min-width: 1920px) {
  .spa{
   margin-top: 100px;
   margin-left: 300px;

  }
}
@media (min-width: 2220px) {
  .spa{
   margin-top: 100px;
   margin-left: 400px;

  }
}
@media (min-width: 2660px) {
  .spa{
   margin-top: 100px;
   margin-left: 600px;

  }
}
@media (max-width: 860px) {
  .spa{
   margin-top: 100px;
   margin-left: 50px;

  }
}